*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.svg--80hv {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.svg--50hv {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}